{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
	<section class="">
		<h1></h1>
		<div class="row">
			<div class="col-12">
				<div class="mx-auto">
					 {% if figure.images|length > 0 %}
					<img class="img-fluid" src="{{ asset('build/images/' ~ figure.images[0].link) }}" alt="{{ figure.images[0].title }}" style="width: 60rem">
					{% endif %}
				</div>
			</div>
			<div class="col-12 mt-4">
				<div class="row">
					<div class="col-md-12">
						<h6>images</h6>
						<a class="btn btn-warning" href="{{ path('image_new') }}?figure={{ figure.id }}">Ajouter une nouvelle image</a>
						<div class="d-flex flex-row flex-wrap">
							{% for image in figure.images %}
								<div class="mx-2">
									<img class="pt-2 img-fluid" src="{{ asset('build/images/' ~ image.link) }}" alt="{{ image.title }}" style="width: 12rem">
									<div class="d-flex mt-2 justify-content-end">
										<a class="btn btn-outline-success m-1" href="{{ path('image_edit', {'id': image.id}) }}"><i class="bi bi-pencil-fill"></i></a>
										{{ include('image/_delete_form.html.twig') }}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-12 mt-3">
						<h6>vidéos</h6>
						<a class="btn btn-warning" href="{{ path('video_new') }}">Ajouter une nouvelle video</a>
						<div class="d-flex flex-row flex-wrap">
							{% for video in figure.videos %}
								<div class="mx-2">
									{% set link = video.link %}
									{% set id = link|split('v=')|last %}
									{% set id = id|split('&')|first %}
									{% set id = id|split('/')|last %}
									<div class="ratio ratio-16x9">
										<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{id}}" height="250px" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="d-flex mt-2 justify-content-end ">
										<a class="btn btn-outline-success m-1" href="{{ path('video_edit', {'id': video.id}) }}"><i class="bi bi-pencil-fill"></i></a>
										{{ include('video/video_delete_form.html.twig') }}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mt-4">
				{{ figure.description }}
			</div>
			<div class="col-12">
				<div class="row mt-4">
					<div class="col-md-4 mt-2"><span class="fw-bold">Ecrit par </span>{{ figure.author.firstname }} {{ figure.author.lastname }}</div>
					<div class="col-md-4 mt-2"><span class="fw-bold">Créer le </span>{{ figure.createdAt | date('d/m/Y') }}</div>
					<div class="col-md-4 mt-2"><span class="fw-bold">Group de figure : </span>{{ figure.figureGroup.title }}</div>
				</div>
			</div>
			<div class="col-12"></div>
			<div class="col-12">
				{% for discussion in discussions %}
					{% for message in  discussion.messages %}
					<div class="d-flex align-items-center w-75 mx-auto my-4 shadow p-3 mb-5 bg-body rounded">
						<div class="flex-shrink-0">
							<img class="rounded-circle" src="{{ message.authorMsg.avatar }}" alt="Avatar de {{ message.authorMsg.firstname }}">
						</div>
						<div class="flex-grow-1 ms-3">
							<p>{{ message.contenu }}</p>
							<span class="text-muted fst-italic">Rediger par : {{ message.authorMsg.firstname }} {{ message.authorMsg.lastname }} le {{ message.createdAt | date('d/m/Y à H:i') }}</span>
						</div>
					</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
