{{ form_start(form) }}
<div class="from-group">
    {{ form_row(form.title) }}
    <div class="input-group">
        {{ form_row(form.link, {'attr':{'class':'form-control', 'aria-label':'Upload'}}) }}
    </div>
    <button class="btn btn-outline-success mt-4">{{ button_label|default('Save') }}</button>
    {% if form.figures.vars.data.id is defined %}
        <a class="btn btn-info mt-4" href="{{ path('figure_detail', {'id': form.figures.vars.data.id}) }}">Retour figure</a>
    {% endif %}
</div>
{{ form_end(form) }}
