<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}

        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
        {% block javascript %}
            {{ encore_entry_script_tags('js/baseJs') }}
        {% endblock %}

    </head>
    <body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">TrickSnow</span>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('figure') }}">Tricks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('new_figure') }}">Création Tricks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Sign out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>
